@model IEnumerable<RestaurantRaterDbMvc.Models.RatingModels.RatingListItem>

@{
    ViewData["Title"] = "Rating Index";
}

<h1>Ratings</h1>

<p>
    <a asp-action="Create">Rate a Restaurant</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AtmospherScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CleanlinessScore)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantName)
                </td>
                <td>
                    @if (item.FoodScore > 0)
                    {
                        @Html.DisplayFor(modelItem => item.FoodScore)
                    }
                    else
                    {
                        <span>No Food Score Yet</span>
                    }
                </td>
                <td>
                    @if (item.CleanlinessScore > 0)
                    {
                        @Html.DisplayFor(modelItem => item.CleanlinessScore)
                    }
                    else
                    {
                        <span>No Cleanliness Score Yet</span>
                    }
                </td>
                <td>
                    @if (item.AtmospherScore > 0)
                    {
                        @Html.DisplayFor(modelItem => item.AtmospherScore)
                    }
                    else
                    {
                        <span>No Atmosphere Score Yet</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Rating", new { id = item.Id}) |
                    @Html.ActionLink("Details", "Details", "Rating", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", "Rating", new {id = item.Id})

                </td>
            </tr>
        }
    </tbody>
</table>

